{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
<head>
<style>
    th{
        max-width: 200px;
        text-align: center;
    }
    td{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }
    </style>
</head>
    <h2>Director Table</h2>
    <table class="table table-hover table-sm">
        <thead class="thead-light" data-file-width="5px">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Masterpieces</th>
                <th scope="col">Awards_wins</th>
                <th scope="col">Award_nomination</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        {% for dr in Director %}
        <tr>
            <th scope="row" ><a href="{{ dr.person_link }}" target="_blank">{{ dr.name }} <span class="glyphicon glyphicon-new-window"></span></a></th>
            <td align="center"> {{ dr.date }}</td>
            <td align="center" width="40%"> {{ dr.masterpiece }}</td>
            <td align="center"> <a href="{{ dr.award_link }}" target="_blank">{{ dr.award_win }} <span class="glyphicon glyphicon-new-window"></span></a></td>
            <td align="center"> {{ dr.award_nom }}</td>
            <td align="center"> {{ dr.place }}</td>

        </tr>
        {% endfor %}
    </table>


    <div class="pagination">
        {% if Director.has_other_pages %}
            <nav aria-label="Page navigation example">
            <ul class="pagination">
            {% if Director.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ Director.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
            {% endif %}
            {% for i in Director.paginator.page_range %}
                {% if Director.number == i %}
                    <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ i }}">{{ i }} <span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if Director.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ Director.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
            {% endif %}
            </ul>
            </nav>
        {% endif %}
    </div>

{% endblock %}
